<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">db설계 프로젝트 | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {% if session.get("user") %}
            <span class="navbar-text" style="color: darkblue;">이름 : {{session.get("user")["emp_name"]}}
                {%if session.get("user")["auth"]==1%} (경영진){%endif%} | </span>
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">홈화면</span></a>
            <a class="nav-link" href="{{ url_for('logout') }}">로그아웃</a>
            <a class="nav-link" href="{{ url_for('edit_profile') }}">정보수정 </a>
            {% else %}
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">홈화면</span></a>
            <a class="nav-link" href="{{ url_for('register') }}">회원가입</a>
            <a class="nav-link" href="{{ url_for('login' )}}">로그인</a>
            {% endif %}
            <a class="nav-link" href="{{ url_for('inquire') }}">조회</a>
        </div>
    </div>
</nav>